<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="appInfo" type="System.Configuration.NameValueSectionHandler" />
		<section name="motorInfo" type="System.Configuration.NameValueSectionHandler" />
		<section name="measurementsList" type="System.Configuration.NameValueSectionHandler" />
		<section name="operatingModeInfo" type="System.Configuration.NameValueSectionHandler" />
		<section name="calibratingModeInfo" type="System.Configuration.NameValueSectionHandler" />
		<section name="loadCells" type="System.Configuration.NameValueSectionHandler" />
		<section name="logFileInfo" type="System.Configuration.NameValueSectionHandler" />		
		<section name="comPortSettings" type="System.Configuration.NameValueSectionHandler" />
		
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appInfo>
		<add key="Name" value="Test №1" />
		<add key="datetimeFormat" value="G" />
		<!-- https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings -->
	</appInfo>

	<motorInfo>
		<add key="Test#" value="1" />
		<add key="MotorID" value="AL36-2/4" />
		<add key="PropellantMass" value="0,2" />
	</motorInfo>
	
	<measurementsList>
		<add key="1" value="0,1" />
		<add key="2" value="0,3" />
		<add key="3" value="0,5" />
		<add key="4" value="1" />
		<add key="5" value="2" />
	</measurementsList>
	
	<operatingModeInfo>
		<add key="Title" value="Rocket Motor Test #1" />
		<add key="Name" value="Operating" />
		<add key="AxisX" value="Time (sec.)" />
		<add key="AxisY" value="Thrust (gr.)" />
	</operatingModeInfo>

	<calibratingModeInfo>
		<add key="Title" value="Load Cell Calibration " />
		<add key="Name" value="Calibrating" />
		<add key="AxisX" value="Time (sec.)" />
		<add key="AxisY" value="Raw data" />
	</calibratingModeInfo>

	<loadCells>
		
			<add key="loadCell5ID" value="5" />
			<add key="loadCell5Name" value="5 kg" />
			<add key="loadCell5Threshold" value="7" />
			<add key="loadCell5Ratio" value="0,0026" />
		
			<add key="loadCell20ID" value="20" />
			<add key="loadCell20Name" value="20 kg" />
			<add key="loadCell20Threshold" value="15" />
			<add key="loadCell20Ratio" value="0,0092" />
		
			<add key="loadCell100ID" value="100" />
			<add key="loadCell100Name" value="100 kg" />
			<add key="loadCell100Threshold" value="25" />
			<add key="loadCell100Ratio" value="0,02" />

			<add key="loadCell202ID" value="202" />
			<add key="loadCell202Name" value="20_2 kg" />
			<add key="loadCell202Threshold" value="15" />
			<add key="loadCell202Ratio" value="0,0033" />
		
	</loadCells>
	
	<logFileInfo>
		<add key="Folder" value="TestFolder" />
		<add key="Extension" value=".log" />				
	</logFileInfo>
	
	<comPortSettings>
		<add key="baudRate" value="115200" />
		<add key="startCommand" value="1" />
		<add key="stopCommand" value="0" />
	</comPortSettings>
	
	
	<appSettings>		
	</appSettings>	
</configuration>
